body {
    background-color: #eeeeee;
}

div#site{
    height: 100% !important;
    background-color: #fff;
}

div#notebook {
    padding-top: 0;
}

#notebook-container {
    padding: 0;
}

#menubar .navbar {
    border-top: 1px;
    border-radius: 0;
    margin-bottom: 0px;
    border-color: #cfcfcf;
}

.notebook_app .container {
    width:100% !important;
    background-color: #eeeeee;
}

.notebook_app > #header {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eeeeee;
}

.prompt {
    min-width: 10ex;
}

div.output_subarea {
    max-width: 100%;
}

div.input_prompt {
    color: #555;
}

div.output_prompt {
    color: #3c763d;
}

div.output_text {
    background-color: #f7f7f7;
    border-color: #cfcfcf;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin-top: -1px;
}

div.output_stderr {
    background: #f3ffd6;
    border-color: #cfcfcf;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    margin-top: -1px;
}

div.cell {
    margin: 0px 0px 15px 0px;
    border: 0;
}

div.cell.selected {
    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0.05);
    padding: 5px;
}

.edit_mode div.cell.selected {
    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0.05);
    padding: 5px;
}

div.input_area {
    border-radius: 0;
}

.typeahead-button button, .typeahead-filter button {
    display: none;
}

.cmd-palette .modal-body {
    padding: 0;
}

.typeahead-field input, .typeahead-select {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}

.typeahead-dropdown, .typeahead-list {
    border-radius: 0;
    margin: 3px 0 0;
    padding: 0;
}

.end_space {
    background-color: #eee;
}

.widget-hbox .widget-label {
    max-width: 50ex;
}

.widget-hprogress {
    width: 50%;
}
